<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/menu.ejs') %>
    <div class="admin">
        <a href="add/cool">Add Cool</a>
        <a href="add/gamingPC">Add gaming PC</a>
        <a href="add/deal">Add Deal</a>
        <a href="add/keyboard">Add Keyboard</a>
        <a href="add/headset">Add Headset</a>
        <a href="add/mouse">Add Mouse</a>
        <a href="add/storage">Add Storage</a>
        <a href="add/externalstorage">Add External Storage</a>
        <a href="add/homePC">Add Home Use Computer</a>
        <a href="add/monitor">Add Monitor</a>
        <a href="add/quickdrop">Add Quick Drop</a>
        <a href="add/prodPC">Add Productivity Computer</a>
    </div>
</body>
</html>