<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/menu.ejs') %>
    <main class="chsh">
        <div class="mainPageMenu">
            <section>
                <h1>Cheatsheet</h1>
                <p>Know whats what, whats better and whats worse, Learn to pick the best parts for your build!</p>
                    <a href=""><button class="clearButton">Learn</button></a>
            </section>
            <section>
                <p>Pst. Dont forget to customize your feed and subscribe in order to be up to date!</p>
            </section>
        </div>
        <div class="cheatsheets">
            <h2>Hardware</h2>
            <ul>
                <li>
                    <img src="/imgs/icons/cpu.svg" alt="">
                    <h3>CPU Hirearchy List</h3>
                    <p>Choose your CPU by checking their score and comaring against other options. Can't choose? <a href="">Click here</a> to read on blog or ask for help on our <a href="">Discord Server</a>.</p>
                    <div>
                        <button>More Info</button>
                        <a href="">Direct Link</a>
                    </div>
                </li>
                <li>
                    <img src="/imgs/icons/gpu.svg" alt="">
                    <h3>GPU Hirearchy List</h3>
                    <p>This list is crucial and should be used to check Power supply of each and every PC. YOU SHOULD NOT USE BAD POWER SUPPLIES.</p>
                    <div>
                        <button>More Info</button>
                        <a href="">Direct Link</a>
                    </div>
                </li>
                <li>
                    <img src="/imgs/icons/psu.png" alt="">
                    <h3>Power Supply Tier List</h3>
                    <p>This list is crucial and should be used to check Power supply of each and every PC. YOU SHOULD NOT USE BAD POWER SUPPLIES.</p>
                    <div>
                        <button>More Info</button>
                        <a href="">Direct Link</a>
                    </div>
                </li>
                <li>
                    <img src="/imgs/icons/nvmessd.svg" alt="">
                    <h3>SSD Tier List</h3>
                    <p>This list is crucial and should be used to check Power supply of each and every PC. YOU SHOULD NOT USE BAD POWER SUPPLIES.</p>
                    <div>
                        <button>More Info</button>
                        <a href="">Direct Link</a>
                    </div>
                </li>
            </ul>
            <h2>Software</h2>
            <ul>
                <li>
                    <img src="/imgs/icons/performance.svg" alt="">
                    <h3>Optimize Windows for Better Performance</h3>
                    <p>There are very many ways to optimize windows, either by tweaking the settings or by using softwares that are designed to make your PC run faster.</p>
                    <div>
                        <button>More Info</button>
                    </div>
                </li>
                <li>
                    <img src="/imgs/icons/metrics.svg" alt="">
                    <h3>Benchmarking softwares to test CPU and GPU power</h3>
                    <p>Benchmark your CPU and GPU to stress test their stability, performance and other metrics by using these tools.</p>
                    <div>
                        <button>More Info</button>
                    </div>
                </li>
                <li>
                    <img src="/imgs/icons/trophy.svg" alt="">
                    <h3>Videogames with Built in Benchmarking tools</h3>
                    <p>Sometimes softwares dont show real gaming performance and thus you can use these games to check your CPU & GPUs performance, comes in handy while overclocking</p>
                    <div>
                        <button>More Info</button>
                    </div>
                </li>
                <li>
                    <img src="/imgs/icons/tick.svg" alt="">
                    <h3>Free Useful softwares for daily use</h3>
                    <p>There are many free and trusted softwares that can make your workflow faster and just improve overall use.</p>
                    <div>
                        <button>More Info</button>
                    </div>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>