<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("./partials/menu.ejs") %>
    <main class="pc">
        <div class="pcContainer">
            <h1>4K Gaming PC</h1>
            <div class="pcInfo">
                <div>
                    <img src="imgs/perm_files/mmtitleimg.webp" alt="">
                    <div>
                        <!-- Share -->
                    </div>
                    <div>
                        <!-- Similar Builds -->
                    </div>
                </div>
                <div>
                    <h2>Specs</h2>
                    <ul>
                        <li>CPU</li>
                        <li>CPU Cooler</li>
                        <li>Motherboard</li>
                        <li>GPU</li>
                        <li>RAM</li>
                        <li>SSD</li>
                        <li>Power Supply</li>
                    </ul>
                    <h2>Extra Features</h2>
                    <ul>
                        <li>Bluetooth 6.9</li>
                        <li>WIFI 1.2</li>
                        <li>Customizable RGB Lights</li>
                        <li>Integrated Graphics</li>
                    </ul>
                </div>
            </div>
            <div class="desc">
                <h2>Description</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, ullam nobis similique animi modi, veritatis earum ut fuga esse dolor dolorem neque praesentium ipsum accusantium expedita vero et quidem deleniti unde. Possimus, qui explicabo? Voluptatem et iste, perferendis quia enim, facilis nesciunt consequatur fuga dignissimos aspernatur incidunt. Laudantium culpa officia quaerat, corrupti, aliquid exercitationem doloribus consequuntur quae dolorum porro eaque repellat unde cupiditate, quasi quia dolor enim rem.</p>
            </div>
        </div>
    </main>
</body>
</html>