<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/menu.ejs') %>
    <main class="tutorials">
        <div class="mainPageMenu">
            <section>
                <h1>Tutorials</h1>
                <p>Education is free, Learning is good, The process is fun, Knowledge is Power!</p>
                <div>
                    <input type="text" placeholder="Search here...">
                    <button>Search</button>
                </div>
            </section>
            <img src="/imgs/perm_files/tutorials_header.svg" alt="Learn with us the Fun way!">
        </div>
        <div class="tutorialsList">



            <article class="tutSmall">
                <img src="/imgs/perm_files/mmtitleimg.webp" alt="">
                <time>20/09/2024</time>
                <h2>Title Here Bro</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi impedit reiciendis minus, illo, iure provident tempora nihil dignissimos id maxime ducimus labore commodi.</p>
                <ul>
                    <li>Hardware</li>
                    <li>Software</li>
                </ul>
            </article>



            
            <article class="tutSmall">
                <img src="/imgs/perm_files/mmtitleimg.webp" alt="">
                <time>20/09/2024</time>
                <h2>Title Here Bro</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi impedit reiciendis minus, illo, iure provident tempora nihil dignissimos id maxime ducimus labore commodi.</p>
                <ul>
                    <li>Hardware</li>
                    <li>Software</li>
                </ul>
            </article>





            
            <article class="tutSmall">
                <img src="/imgs/perm_files/mmtitleimg.webp" alt="">
                <time>20/09/2024</time>
                <h2>Title Here Bro</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi impedit reiciendis minus, illo, iure provident tempora nihil dignissimos id maxime ducimus labore commodi.</p>
                <ul>
                    <li>Hardware</li>
                    <li>Software</li>
                </ul>
            </article>





            
            <article class="tutSmall">
                <img src="/imgs/perm_files/mmtitleimg.webp" alt="">
                <time>20/09/2024</time>
                <h2>Title Here Bro</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi impedit reiciendis minus, illo, iure provident tempora nihil dignissimos id maxime ducimus labore commodi.</p>
                <ul>
                    <li>Hardware</li>
                    <li>Software</li>
                </ul>
            </article>




            
            <article class="tutSmall">
                <img src="/imgs/perm_files/mmtitleimg.webp" alt="">
                <time>20/09/2024</time>
                <h2>Title Here Bro</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi impedit reiciendis minus, illo, iure provident tempora nihil dignissimos id maxime ducimus labore commodi.</p>
                <ul>
                    <li>Hardware</li>
                    <li>Software</li>
                </ul>
            </article>




            
            <article class="tutSmall">
                <img src="/imgs/perm_files/mmtitleimg.webp" alt="">
                <time>20/09/2024</time>
                <h2>Title Here Bro</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi impedit reiciendis minus, illo, iure provident tempora nihil dignissimos id maxime ducimus labore commodi.</p>
                <ul>
                    <li>Hardware</li>
                    <li>Software</li>
                </ul>
            </article>



            
            <article class="tutSmall">
                <img src="/imgs/perm_files/mmtitleimg.webp" alt="">
                <time>20/09/2024</time>
                <h2>Title Here Bro</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi impedit reiciendis minus, illo, iure provident tempora nihil dignissimos id maxime ducimus labore commodi.</p>
                <ul>
                    <li>Hardware</li>
                    <li>Software</li>
                </ul>
            </article>
        </div>
    </main>
</body>
</html>